@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dark-grad {
  background: linear-gradient(240deg, #000000 20%, #0E1225 80%);
}

/* h1 {
  @apply text-4xl
}

h2 {
  @apply text-3xl
}

h3 {
  @apply text-2xl
}

h4 {
  @apply text-xl
}

h5 {
  @apply text-xl font-bold
}

h6 {
  @apply text-xl
}

.astro-code {
  @apply p-4 rounded-sm
}

a:link,a:visited {

  @apply text-brand-purple
}

ol,
ul {
  list-style: initial !important;
  margin: 0;
  padding-left: 2rem;
} */

.play_iframe {
  @apply relative w-full aspect-video bg-cover rounded-sm ;
  min-height: 720px;
  min-width: 1280px;
  margin-left: -32px;

}

.play_iframe .svg_triangle {
  @apply fill-brand-blue h-32 w-32 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
}

.play_iframe span {
  @apply text-white bg-brand-blue p-4 absolute bottom-4 left-1/2 -translate-x-1/2 whitespace-nowrap

}

img {
  @apply rounded-sm
}

.play_iframe iframe {
  @apply h-full w-full
}