---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Button from "../components/Button/index";
import Nav from "../components/Nav/index";
import Hero from "../components/Hero.astro"
import Footer from "../components/Footer/index";
import PortfolioPreview from "../components/PortfolioPreview/index";
import '../styles/global.css'

// Data Fetching: List all Markdown posts in the repo.
const projects = (await Astro.glob("./projects/**/*.md"))
	.filter(({ frontmatter }) => !!frontmatter.publishDate)
	.sort(
		(a, b) =>
			new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
	);
const featuredProject = projects[0];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="pl" class="w-screen h-screen overflow-hidden dark">

<head>
	<MainHead />
</head>

<body class="dark:bg-gray-900 dark:text-white overflow-x-hidden overflow-y-scroll h-screen  snap-proximity snap-y">
	<section class="snap-start">
		<Hero />
	</section>
	<main class="xl:max-w-screen-xl mx-auto xl:p-16  p-4 min-h-screen snap-start">
		<div class="flex">
			<div class="flex-grow py-8 flex gap-16 flex-col">

				<div class="flex justify-start gap-4 items-center pb-16"><img src="/assets/monitor-cellphone.svg"
						class="w-16 h-16" />
					<h3 class="text-5xl ">Najnowsze projekty</h3>
				</div>

				<PortfolioPreview project={projects[0]} />
				<PortfolioPreview project={projects[1]} />
				<PortfolioPreview project={projects[2]} />

				<div class=" mt-4 self-center">
					<a href="/projects">
						<Button>Wszystkie projekty</Button>
					</a>
				</div>
			</div>
			<div class="section">

			</div>
		</div>
	</main>
	<Footer />
</body>

</html>