---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer/index";
import Nav from "../components/Nav/index";
import PortfolioPreview from "../components/PortfolioPreview/index";

const projects = (await Astro.glob("./projects/**/*.md"))
	.filter(({ frontmatter }) => !!frontmatter.publishDate)
	.sort(
		(a, b) =>
			new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
	);
---

<html lang="pl" class="w-screen h-screen overflow-hidden dark">

<head>
	<MainHead title="Projekty | Mateusz Kifner" description="Projekty | Mateusz Kifner" />
</head>

<body class="dark:bg-gray-900 dark:text-white overflow-x-hidden overflow-y-scroll h-screen  snap-proximity snap-y">
	<Nav client:load />
	<div class="xl:max-w-screen-xl xl:mx-auto md:mx-16 mx-4">
		<h1 class="title mt-4 mb-16 text-3xl font-bold">Projekty</h1>
		<div class="flex gap-16 flex-col">
			{projects.map((project) =>
			<PortfolioPreview project={project} />)}
		</div>
	</div>
	<Footer />
</body>

</html>